<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <pages>
      <controls>
        <add tagPrefix="MtSac" namespace="MtSac.LabFinal" assembly="MtSac.LabFinal"/>
      </controls>
    </pages>
    <authentication mode="Windows"/>
    <httpRuntime executionTimeout="900"/>
    <globalization requestEncoding="ISO-8859-1" responseEncoding="ISO-8859-1"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="PDFHandler" path="*.pdf" verb="*" type="MtSac.LabFinal.PDFHandler" resourceType="Unspecified" requireAccess="None" preCondition="integratedMode" />
      <add name="CSVHanlder" path="*.csv" verb="*" type="MtSac.LabFinal.CSVHandler" resourceType="Unspecified" requireAccess="None" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>